.bu-actions {
  // border-width: 2px;
  &.kendo {
    @apply .bg-purple-200 .border-purple-500 ;
    // background-color: #f3ebff; // bg-purple-lightest
    // border-color: #9561e2; // bg-purple
  }
  &.iaido{
    @apply .bg-gray-200 .border-gray-500 ;
    // background-color: #f1f5f8; // bg-grey-lighter
    // border-color: #8795a1; // bg-grey-dark
  }
  &.jodo{
    @apply .bg-orange-200 .border-orange-500 ;
    // background-color: #FCD9B6; // bg-orange-lighter
    // border-color: #F6993F; // bg-orange
  }
  &.cs{
    @apply .bg-red-200 .border-red-500 ;
    // background-color: #fcebea; // bg-red-lightest
    // border-color: #E3342F; // bg-red
  }
  padding-bottom: 0.5rem;
  h2, h3 {
    text-align: center;
    // padding-top: 1rem;
    // padding-bottom: 0.5rem;
  }
  p {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }
}

.upborder-2 {
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
}

.nav-tabs-front {
  &.kendo {
    li {
      @apply .bg-purple-500 .border-purple-700 ;
      // border-color: #9561e2; // bg-purple
      // background-color: #A779E9; // bg-purple-light
      &.active {
        @apply .bg-purple-200  ;
        // background-color: #D6BBFC; // bg-purple-lighter
      }
      h2 {
      }
    }
  }
  &.iaido {
    li {
      @apply .bg-gray-500 .border-gray-700 ;
      // border-color: #8795a1; // bg-grey-dark
      // background-color: #B8C2CC; // bg-grey
      &.active {
        @apply .bg-gray-200 ;
        // background-color: #DAE1E7; // bg-grey-light
      }
      h2 {
      }
    }
  }
  &.jodo {
    li {
      @apply .bg-orange-500 .border-orange-700 ;
      // border-color: #F6993F; // bg-orange
      // background-color: #FAAD63; // bg-orange-light
      &.active {
        @apply .bg-orange-200 ;
        // background-color: #FCD9B6; // bg-orange-lighter
      }
    }
  }
  &.cs {
    li {
      @apply .bg-red-500 .border-red-700 ;
      // border-color: #E3342F; // bg-red
      // background-color: #EF5753; // bg-red-light
      &.active {
        @apply .bg-red-200 ;
        // background-color: #F9ACAA; // bg-red-lighter
      }
    }
  }

	width: 100%;
	margin: 0;
	list-style-type: none;
  padding-inline-start: 0px;

	> li {
		margin-bottom: -2px;
    display: inline-block;
    border-radius: 4px 4px 0 0;

    &:hover {
      background-color: white;
    }


		> h2 > a {
			text-decoration: none;

		}

		&.active > h2 > a {
			&,
			&:hover,
			&:focus {
				color: #000;
				cursor: default;
			}
		}
	}
}
.tab-content > .tab-pane-front {
	// float: left;
	width: 100%;
	display: none;

	&.active {
		display: block;
		// padding: 10px;
		// background-color: transparent;
		box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
	}
}




.nav-tabs-xl-right {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0px;

  li {
    &.kendo {
      @apply .bg-purple-500 .border-purple-700 ;
      // border-color: #9561e2; // bg-purple
      // background-color: #A779E9; // bg-purple-light
      &.active {
        @apply .bg-purple-200  ;
        // background-color: #D6BBFC; // bg-purple-lighter
      }
      h2 {
      }
    }

    &.iaido {
      @apply .bg-gray-500 .border-gray-700 ;
      // border-color: #8795a1; // bg-grey-dark
      // background-color: #B8C2CC; // bg-grey
      &.active {
        @apply .bg-gray-200 ;
        // background-color: #DAE1E7; // bg-grey-light
      }
      h2 {
      }
    }

    &.jodo {
      @apply .bg-orange-500 .border-orange-700 ;
      // border-color: #F6993F; // bg-orange
      // background-color: #FAAD63; // bg-orange-light
      &.active {
        @apply .bg-orange-200 ;
        // background-color: #FCD9B6; // bg-orange-lighter
      }
      h2 {
      }
    }

    // &.cs {
    //   border-color: #F6993F; // bg-orange
    //   background-color: #FAAD63; // bg-orange-light
    //   &.active {
    //     background-color: #FCD9B6; // bg-orange-lighter
    //   }
    //   h2 {
    //   }
    // }

		margin-bottom: -2px;
    display: inline-block;
    border-radius: 4px 4px 0 0;

    &:hover {
      background-color: white;
    }

    &.active  {
      &,
      &:hover,
      &:focus {
        color: #000;
        cursor: default;
      }
    }


	}
}



.tab-pane-xl-right {
	// float: left;
	// width: 100%;
	display: none;

	&.active {
		display: block;
		// padding: 10px;
		// background-color: transparent;
		// box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
	}
}



.loadmore a:visited {
  color: white;
}

@responsive{
  .w100-32 {
    width: calc(100% - 32rem);
  }
}


// #the-sticky-div.sticky {
//    position: fixed;
//    top: 0;
// }
