// The dropdown wrapper (`<div>`)
.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  // Generate the caret automatically
  // @include caret;
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    // margin-left: .3em * .85;
    vertical-align: .3em * .85;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}

// The dropdown menu
.dropdown-menu {
  // @apply .relative  ;
  position: absolute;
  // top: 100%;
  // right: 0;
  z-index: 300; // $zindex-dropdown;
  // display: none; // none by default, but block on "open" of the menu
  // float: right;
  min-width: 10rem; // $dropdown-min-width;
  // padding: .5rem; // $dropdown-padding-y 0;
  margin: 0; // line below adds space between menu and dropdown
  // margin: .125rem 0 0; // $dropdown-spacer 0 0; // override default ul
  font-size: 1rem; // $font-size-base; // Redeclare because nesting can cause inheritance issues
  color: black; // $body-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  // background-color: #fff; // $dropdown-bg;
  // @apply .bg-purple-lightest ;
  background-clip: padding-box;
  // border: $dropdown-border-width solid $dropdown-border-color;
  border: 1px solid rgba(black, .15);
  // @include border-radius($dropdown-border-radius);
  @apply .rounded ; // border-radius: .25rem;
  // @include box-shadow($dropdown-box-shadow);
  box-shadow: 0 .5rem 1rem rgba(black, .175);
}

// Dividers (basically an `<hr>`) within the dropdown
.dropdown-divider {
  height: 0;
  margin: (1rem / 2) 0; // ($spacer / 2) 0;
  // margin: 0;
  overflow: hidden;
  border-top: 1px solid #e5e5e5; // $dropdown-divider-bg;
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  display: block;
  // float: left;
  width: 100%; // For `<button>`s
  // padding: .5rem;
  // padding: .25rem 1.5rem; // $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: 400; // $font-weight-normal;
  color: black; // grey-darkest; $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s



  &.active,
  &:active {
    // color: $dropdown-link-active-color;
    text-decoration: none;
    // @include gradient-bg($dropdown-link-active-bg);
  }

  // &.disabled,
  // &:disabled {
  //   color: $dropdown-link-disabled-color;
  //   background-color: transparent;
  //   // Remove CSS gradients if they're enabled
  //   @if $enable-gradients {
  //     background-image: none;
  //   }
  // }
}

.dropdown-menu.show {
  // display: block;
  @apply .block ;
}

// Dropdown section headers
.dropdown-header {
  // display: block;
  @apply .block ;
  // padding: $dropdown-padding-y $dropdown-item-padding-x;
  // margin-bottom: 0; // for use with heading elements
  // font-size: $font-size-sm;
  // color: $dropdown-header-color;
  // white-space: nowrap; // as with > li > a
  @apply .whitespace-no-wrap ;
}

.nav-toggle {
  @apply .hidden ;
}

ul .dropdown-menu .sub-menu {
  margin-left: 100px;
  margin-top: -25px;
}




// Modified June 2019 to emulate Striking_r
// May 2019 removed prior to tailwind 1.0

#site-navigation{
  position: relative;
  z-index: 20;

}
ul#primary-menu {
  // @apply .text-sm  ; // li-px-2 li-py-2  md:flex md:justify-end
  @apply .inline-flex ;
  // position: relative;
  @apply .list-none .p-0 ;

  li.menu-item-has-children {
    ul.dropdown-menu {
      @apply .hidden  .p-0 ;
      // position: relative;

      // left: -20px;
      @apply .whitespace-no-wrap  ;
    }
  }

  li.menu-item-has-children{
    &:hover {
      ul.dropdown-menu {
        @apply .absolute ;
        // left: 0;
        // top: 100%;
        @apply .block   ;
        // position: absolute; top: 100; left: 500;
        @apply .bg-gray-100 .border .rounded .border-gray-200 ;
        // background-color: #fff; // $dropdown-bg;
      }
    }
  }
  li.menu-item-has-children{
    ul.dropdown-menu {
      li.menu-item-has-children{
        ul.dropdown-menu {
          @apply .hidden .relative ;
          // left: -9999px;
          @apply .whitespace-no-wrap ;
        }
      }
    }
  }
  li.menu-item-has-children{
    ul.dropdown-menu {
      li.menu-item-has-children{
        &:hover {
          ul.dropdown-menu {
            @apply .absolute  ;
            // top: 100%;
            @apply .block  ;
            @apply .bg-gray-100 .border .rounded .border-gray-200 ;
            // background-color: #fff; // $dropdown-bg;
          }
        }
      }
    }
  }

  li {
    a {
      @apply .text-xs .text-gray-700 ;
      &:hover {
        @apply .no-underline ;
      }
    }

    ul li:hover {
      @apply .bg-gray-200 ;
    }
  }

}



#paged_nav {
  .page-numbers {
    @apply .mr-2 ;
    &.current {
      @apply .text-xl ;
    }
  }
}

// copied from striking_r
#navigation {
    position: absolute;
    right: -5px;
    bottom: 0;
    height: 60px
}
@media only screen and (max-width: 767px) {
  #navigation {
    position: relative;
    right: auto;
    bottom: auto;
    height: auto;
    margin: 0 auto;
  }
}

.nav2select {
    display: none;
    margin-right: 15px
}
