/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 * // @import "components";
 * // @import "components/home";
 */
@import "components/butons";

@import "components/wordpress.scss";

@import "components/gallery.scss" ;

@import "components/htmltags.scss";

@import "menu";

@import "components/table.scss";

@import "components/eo-events.scss";

.post-thumbnail {
	img{
		width: 100% ;
		height: auto ;
		@apply pt-4 ;
	}
}


// to fit striking_r styles
main {
	h4 {
		@apply text-blueish ;
	}
	h5 {
		@apply text-base text-grey119 mt-4 ;
		@media only screen and (min-width: 768px) {
			@apply text-xl ;
		}
	}
}






/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;
/**
* // @import "utilities";
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
 @import "accessibility";


// footer section
.inner {
  ul{
    @apply pl-3 list-none;
    li {
      @apply text-sm py-1 ;
      a {
        @apply text-gray-800 ;
      }
      a:hover {
        @apply text-blue-400 no-underline ;
      }
    }
  }
  select {
    @apply ml-3 p-1 bg-white border border-gray-600 rounded cursor-pointer ;
  }
}



.search-form {
  @apply flex ;
}
.search-field {
  @apply p-1 border border-gray-400 ;
  &:focus, &:hover {
    @apply border-purple-500 ;
  }
}

.search-submit {
  @apply ml-2 px-2 py-1 cursor-pointer border rounded bg-gray-400 ;
  &:hover {
    @apply bg-gray-700 text-white ;
  }
}


.front-page {
  h2 {
    @apply text-3xl text-blueish font-normal ;
  }
}

.bg-blue-200 {
	background-color: #BFDBFE;
}
